body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box {
  width: 360px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}


.main-box > div {
  width: 50px;
  height: 45px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}


#startBtn {
  width: 50%;
  height:30px;
}

.active{
  background-color: pink;
}
