* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 810px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-box {
  width: 350px;
  margin: 10px;
  /* border: 1px solid black; */
}

.main-box > div {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}


.main-box > div > img {
  width: 100%;
  margin-top: 10px;

}

.text-box {
  display: flex;
}

.text-box  > div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 0 15px;
  border-radius: 10px;
  cursor: pointer;
}

.text-box  > div:hover{
  background: #ebcc66;
  color: rgb(143, 57, 255);
}

.side-menu {
  width: 300px;
  height: 100%;
  border: 1px solid black;
  display: flex;
  text-align: center;
  justify-content: center;
}

.side-menu > div {
  width: 80%;
  height: 30px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}







