* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box {
  width: 800px;
  height: 500px;
  display: flex;
  
}

.section1, .section3, .section4 {
  width: 100%;
  height: 100%;
}

.section2 {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1 img, .section3 img {
  width: 100%;
  margin-top: 10px;
  border: 1px solid black;
}

.section1, .section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1 .btn-box button  {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.section3 .btn-box2 button  {
  font-size: 20px;
  font-weight: bold;
}

.btn-box {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  white-space: nowrap;
}

.btn-box2 {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  white-space: nowrap;

}


.btn-box > button {
  width: 30%;
  flex-grow: 1;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}

.btn-box2 > button {
  width: 30%;
  flex-grow: 1;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}

.btn-box > button:hover {
  background-color: bisque;
  color :rgb(203, 152, 253);
}

.btn-box2 > button:hover {
  background-color: rgb(203, 152, 253);
  color :bisque;
}

.section4 > table {
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  border: 1px solid black;
  border-collapse: collapse;
}

.section4 th, .section4 td {
  border: 1px solid black; 
}

table > tr, td {
  border: 1px solid black;
}

.section4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  border-left: 1px solid black;
  margin-left: 10px;
}

.section4 > h3 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid black;
}

.text-box {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

.text-box  > span {
  width: 100%;
  margin: 5px;
}






